*   {
    box-sizing: border-box;
}
h1, h2  {
    margin: 2%;
    font-variant: inherit;
    color: purple;
}

p {
  margin: 2%;
  max-width: 720px;
  background-color: linen;
  font-weight: 300;
}

ul {
  list-style-type: none;
  margin: 2%;
  max-width: 720px;
  padding: 0; 
}

li  {
  background-color: linen;
}

a, a:visited {
  color: blue;
  text-decoration: underline
}

.brand {
  color:rgb(49, 65, 22);
  padding: 1% 0 0 0;
}

.appt {
  padding: 0 0 1% 8%;
}

/* Dropdown Button */

button, .dropbtn {
    background-color: #04548a;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-family: Lora;
    border-radius: 7%;
    margin: 2%;
  }
  
  /* Selected button on hover & focus */
 button:hover, .button:focus {
    background-color: #3092d3;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    /* display: inline-block; */
    font-size: 1.2rem;
    font-family: Lora;
    /* padding-right: 1px; */
    margin-left: 2px;
  }
  
  .dropdown-content {
    /* display: none;       Dropdown Content label (Hidden by Default) 
    font-size: inherit; */
    position: relative;
    background-color: #d9f7fc;
    min-width: 10px;
    max-width: 469px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 5% 2% 2%;
    padding: 4px 0 0;
  }

/* Show the dropdown menu */
/* .show {
    display:block;
} */

/* techiedelight.com */
label {
    font-size: 1.2rem;
    font-family: Lora;
    margin-left: 2%;
  }

select {
  font-size: 1.1rem;
  padding: 2px 10px 4px 2px;
  margin: 0;
}
  
  /* button,
  select {
    font-size: .9rem;
    padding: 2px 5px;
  } */
/* 
********************
*/
/* button{
    border-radius: 20%;
    font-family: cursive;
    background-color: cornsilk;
    color: blueviolet;
    padding: 2%;
    margin: 2%;
} */
/* button:hover{
background-color: rgb(16, 214, 16)
} */
